includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: max

    paths:
        - src
        - tests

    scanDirectories:
        - ../../../library/viewer-kit/src
        - ../../../modules/markdown-viewer-module/src
        - ../../../modules/openapi-viewer-module/src

    tmpDir: var/cache/phpstan

    excludePaths:
        - var
        - vendor

    treatPhpDocTypesAsCertain: false
